/* Reset */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100vw;

    overflow-x: hidden;
}

.landing-section {
    width: 100vw;
    height: 100vh;

    padding: 3rem 2rem;

    display: grid;

    grid-template: 
            "head" 40vh
            "illustration" 35vh
            "footer" 20vh / 1fr;
}

.landing-section-head {
    grid-area: head;
}

.landing-section-head span {
    font-size: .8rem;
    font-weight: 400;
    opacity: .25;
}

.landing-section-head h1 {
    font-size: 2.4rem;
    font-weight: 900;
}

.landing-section-head h1 + h1 {
    margin-bottom: 2rem;
}

.landing-section-head p {
    font-size: 1rem;
    font-weight: 300;
}

.landing-section-illustration {
    grid-area: illustration;

    width: 80vw;
}

.landing-section-footer {
    grid-area: footer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-section-button-repository {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
    font-weight: 700;

    color: black;

    border-radius: 25px;
    padding: .75rem 1.5rem;

    transition: background .2s ease-in-out;
}

.landing-section-button-repository img {
    margin-right: 1rem;
}

.landing-section-button-repository:hover {
    background: #d3e8ff;
}

.landing-section-icon-scroll {
    width: 13px;
}

.card-section {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* André Ernesto css */
aside.profile_card_andre{
    padding: 20px;
    box-sizing: border-box;
  }
  
  header img.andre {
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    width: 200px;
    border: 2px solid orange;
  }
  
  aside {
    border-top: 0px solid #26A69A;
    border-bottom: 0px solid #00695C;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    height: 250px;
    width: 250px;
    background-color:black;
    overflow: hidden;
    box-shadow: 0 0 100px 10px orange;
    transition: all ease 0.3s;
  }
  
  aside:hover {
    border: 4px solid orange;
    border-radius: 5px;
    height: 480px;
    width: 350px;
    box-shadow: 0 0 70px 10px #fff;
  }
  
  aside:hover header img {
    animation: profile_image 2000ms linear both;
    animation-delay: 0.5s;
  }
  
  header.andre {
    text-align: center;
  }
  
  header h1.andre {
    font-family: 'Acme';
    position: relative;
    text-align: center;
    color: orange;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 35px;
    line-height: 25px;
    display: inline-block;
    padding: 10px;
    transition: all ease 0.50s;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top:10px;
  }
  
  aside:hover header h1 {
    margin-top:0;
    outline: 0 solid #fff;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
  }
  
  header h2.andre {
    text-align: center;
    color: orange;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-family: 'Orbitron';
    font-size: 20px;
    font-weight: normal;
    line-height: 0px;
    margin-top: 30px;
  }
  
  .AndreBio {
    font-family: 'Yrsa';
    text-align: justify;
    margin-top: 20px;
    padding: 1px 20px 10px 20px;
    transition: all linear 1.5s;
    color: #fff;
    font-size: 16px;
    opacity: 0;
  }
  
  aside:hover .AndreBio {
    opacity: 1;
  }
  
  .AndreBio p:first-child {
    text-align: center;
    font-size: 16px;
  }
  
  .linkSociaisAndre {
    position: relative;
    margin-top: -440px;
    margin-left: -100px;
    list-style-type: none;
    opacity: 0;
    transition: all ease 0.5s;
  }
  
  aside:hover .linkSociaisAndre {
    margin-left: 10px;
    opacity: 1;
  }
  
  .linkSociaisAndre li i {
    border: 2px solid orange;
    color:black;
    width: 45px;
    background: #fff;
    border-radius: 50%;
    padding: 4px;
  
  }
  
  @keyframes profile_image {
    0% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    3.4% {
      transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
      transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    6.81% {
      transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
      transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    10.21% {
      transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    13.61% {
      transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
      transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    17.52% {
      transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
      transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    21.32% {
      transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
      transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    25.23% {
      transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.03% {
      transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
      transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
      transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    36.74% {
      transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
      transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    44.44% {
      transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
      transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    59.86% {
      transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
      transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    75.28% {
      transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
      transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    90.69% {
      transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
  
  aside:hover header h1.andre {
    animation: name_and_job 1500ms linear both;
    animation-delay: 0.5s;
  }
  
  @keyframes name_and_job {
    0% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
    }
    1.3% {
      transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1);
    }
    2.55% {
      transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1);
    }
    4.1% {
      transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
    }
    5.71% {
      transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);
    }
    8.11% {
      transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
    }
    8.81% {
      transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1);
    }
    11.96% {
      transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);
    }
    12.11% {
      transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
    }
    15.07% {
      transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1);
    }
    16.12% {
      transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
    }
    27.23% {
      transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
    }
    27.58% {
      transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);
    }
    38.34% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
    }
    40.09% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);
    }
    50% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);
    }
    60.56% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
    }
    82.78% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
  
  aside:hover ul li.twitter:first-child {
    animation: social_animation 2000ms ease-in-out both;
    animation-delay: 0.75s;
  }
  
  aside:hover ul li.instagram:nth-child(2) {
    animation: social_animation 2000ms ease-in-out both;
    animation-delay: 1s;
  }
  
  aside:hover ul li.facebook:nth-child(3) {
    animation: social_animation 2000ms ease-in-out both;
    animation-delay: 1.25s;
  }
  
  aside:hover ul li.github:nth-child(4) {
    animation: social_animation 2000ms ease-in-out both;
    animation-delay: 1.50s;
  }
  
  aside:hover ul li.twitch:nth-child(5) {
    animation: social_animation 2000ms ease-in-out both;
    animation-delay: 1.75s;
  }
  
  @keyframes social_animation {
    0% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
    }
    1.3% {
      transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1);
    }
    2.55% {
      transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1);
    }
    4.1% {
      transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
    }
    5.71% {
      transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);
    }
    8.11% {
      transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
    }
    8.81% {
      transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1);
    }
    11.96% {
      transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);
    }
    12.11% {
      transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
    }
    15.07% {
      transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1);
    }
    16.12% {
      transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
    }
    27.23% {
      transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
    }
    27.58% {
      transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);
    }
    38.34% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
    }
    40.09% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);
    }
    50% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);
    }
    60.56% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
    }
    82.78% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
  
  /*fim do css André*/

  /* renata */
.card-section-renata .card-renata {
    display: inline-block !important;
    height: fit-content !important;
    font-family: Roboto, sans-serif;
    justify-items: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    max-width: 400px;
    border-radius: 25px;
  }
  .card-section-renata .card-renata h2 {
    margin: 0;
    padding: 0 1rem;
  }
  .card-section-renata .card-renata .title-renata {
    padding: 1rem;
    text-align: right;
    color: green;
    font-weight: bold;
    font-size: 12px;
  }
  .card-section-renata .card-renata .desc-renata {
    padding: 0.5rem 1rem;
    font-size: 12px;
  }
  .card-section-renata .card-renata .actions-renata {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5rem 1rem;
  }
  
  .card-section-renata .img-renata-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid white;
    background-image: url("assets/images/avatar-renata.png");
    margin-top: 15px;
    margin-left: 100px;
  }
  
  .card-section-renata .card-renata-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .card-section-renata .title-renata-total {
    padding: 2.5em 1.5em 1.5em 1.5em;
  }

  
  .card-section-renata .code-renata {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url("assets/images/code-renata.jpg");
    background-position: bottom center;
    background-size: cover;
  }
  
  .card-section-renata .a-renata {
    border: none;
    background: none;
    font-size: 24px;
    color: #8bc34a;
  }
  

@media (min-width: 600px) {
    .landing-section {
        padding: 5rem 6rem;

        grid-template: 
            "head illustration" 60vh
            "footer footer" 30vh / 2fr 1fr;
    }

    .landing-section-head span {
        font-size: 1rem;
    }

    .landing-section-head h1 {
        font-size: 5rem;
        font-weight: 900;
    }

    .landing-section-illustration {
        grid-area: illustration;
    
        width: 37.5vw;
    }

    .landing-section-head p {
        max-width: 30vw;
        font-size: 1.2rem;
    }
}

/*Gonçalo*/

.card-section-goncalo .wrapper{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.card-section-goncalo .wrapper > h1{ 
  margin-bottom: 20px;
  
}

.card-section-goncalo .box{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}

.card-section-goncalo .card{
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}

.card-section-goncalo .card:before,
.card-section-goncalo .card:after{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}

.card-section-goncalo .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.card-section-goncalo .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.card-section-goncalo .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}
  
.card-section-goncalo .card:hover .imgBx{
    bottom: 80px;
}

.card-section-goncalo .card .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-section-goncalo .card .details{
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.card-section-goncalo .card .details h2{
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
} 

  .card-section-goncalo .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
} 

/*Gonçalo*/

/* João Mendonça */

.joaomendonca-card {
  position: relative;

  width: 30vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(113.27deg, #303A4B 0%, #31394D 100%), #31394D;
  box-shadow: 3px 3px 50px 16px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
}

#profile-image {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: calc(50%);
  border-radius: 99vw; 
}

.joaomendonca-card-button {
  border-radius: 50%;
  padding: 1rem;
}

.local-span {
  color: white;
}

.instagram-button {
  background: linear-gradient(41.28deg, #5B4FDC 13.64%, #D9346B 87.05%);
}

.twitter-button {
  background: linear-gradient(41.28deg, #1896E3 13.64%, #1173C0 87.05%);
}

.github-button {
  background: linear-gradient(41.28deg, #3B3D41 13.64%, #5F6367 87.05%);
}

.linkedin-button {
  background: linear-gradient(41.28deg, #2E5FA6 13.64%, #126DC7 87.05%);
}

/* João Mendonça */