/* Reset */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100vw;

    overflow-x: hidden;
}

.landing-section {
    width: 100vw;
    height: 100vh;

    padding: 3rem 2rem;

    display: grid;

    grid-template: 
            "head" 40vh
            "illustration" 35vh
            "footer" 20vh / 1fr;
}

.landing-section-head {
    grid-area: head;
}

.landing-section-head span {
    font-size: .8rem;
    font-weight: 400;
    opacity: .25;
}

.landing-section-head h1 {
    font-size: 2.4rem;
    font-weight: 900;
}

.landing-section-head h1 + h1 {
    margin-bottom: 2rem;
}

.landing-section-head p {
    font-size: 1rem;
    font-weight: 300;
}

.landing-section-illustration {
    grid-area: illustration;

    width: 80vw;
}

.landing-section-footer {
    grid-area: footer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-section-button-repository {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
    font-weight: 700;

    color: black;

    border-radius: 25px;
    padding: .75rem 1.5rem;

    transition: background .2s ease-in-out;
}

.landing-section-button-repository img {
    margin-right: 1rem;
}

.landing-section-button-repository:hover {
    background: #d3e8ff;
}

.landing-section-icon-scroll {
    width: 13px;
}

.card-section {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.card-section-renata .card-renata {
    display: inline-block !important;
    height: fit-content !important;
    font-family: Roboto, sans-serif;
    justify-items: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    max-width: 400px;
    border-radius: 25px;
  }
  .card-section-renata .card-renata h2 {
    margin: 0;
    padding: 0 1rem;
  }
  .card-section-renata .card-renata .title-renata {
    padding: 1rem;
    text-align: right;
    color: green;
    font-weight: bold;
    font-size: 12px;
  }
  .card-section-renata .card-renata .desc-renata {
    padding: 0.5rem 1rem;
    font-size: 12px;
  }
  .card-section-renata .card-renata .actions-renata {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5rem 1rem;
  }
  
  .card-section-renata .img-renata-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid white;
    background-image: url("assets/images/avatar-renata.png");
    margin-top: 15px;
    margin-left: 100px;
  }
  
  .card-section-renata .card-renata-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .card-section-renata .title-renata-total {
    padding: 2.5em 1.5em 1.5em 1.5em;
  }

  
  .card-section-renata .code-renata {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url("assets/images/code-renata.jpg");
    background-position: bottom center;
    background-size: cover;
  }
  
  .card-section-renata .a-renata {
    border: none;
    background: none;
    font-size: 24px;
    color: #8bc34a;
  }
  

@media (min-width: 600px) {
    .landing-section {
        padding: 5rem 6rem;

        grid-template: 
            "head illustration" 60vh
            "footer footer" 30vh / 2fr 1fr;
    }

    .landing-section-head span {
        font-size: 1rem;
    }

    .landing-section-head h1 {
        font-size: 5rem;
        font-weight: 900;
    }

    .landing-section-illustration {
        grid-area: illustration;
    
        width: 37.5vw;
    }

    .landing-section-head p {
        max-width: 30vw;
        font-size: 1.2rem;
    }
}

